body {
  background-color:red;
}
body nav {
  position:fixed;
  clear:both;
  background-color: white;
  height: 20px;
  width: 100%;
  display: inline;
  padding: 10px;
  top: 0px;
  left: 5px;
  font-size: 16pt;
}

header {
  clear:both;
  text-align: center;
  margin-top:55px;
}
#left{
  float:left;
  background-color: darkblue;
  color: gold;
  width:50%;
  height:800px;
}
#right{
  float:right;
  background-color: gold;
  color: darkblue;
  width:50%;
  height:800px;
  font-size:16pt;
  text-align:left;
}
