#highP {
  color:red;
}

#medP {
  color:brown;
}

#lowP {
  color:black;
}

#done {
  text-decoration: line-through;
}

body {
  background-color: gold;
}

#box{
  background-color: darkblue;
  height = 400 px;
  width = 80%;
}

footer {
  color: white;
  background-color: darkblue;
  width = 80%;
}


footer p {
  display:inline;
}
