#highP {
  color:red;
}

#medP {
  color:brown;
}

#lowP {
  color:black;
}

#done {
  text-decoration: line-through;
}

body {
  background-color: gold;
}

section{
  background-color: darkblue;
  height = 400 px;
  width = 250px;
  margin: 25px;
  padding: 300px;
}

header{
  text-align:center;
}

footer {
  text-align:center;
  color: white;
  background-color: darkblue;
  width = 80%;
}


footer p {
  display:inline;
}
