#highP > li{
  color:white;
  background-color:red;
}
#medP > li{
  color:brown;
  background-color:orange;
}
#lowP > li{
  color:black;
  background-color:grey;
}
#done > li{
  color:cyan;
  background-color:black;
  text-decoration: line-through;

}
